body {
  font-size: larger;
  margin: 10px;
  background-color: aqua;
}

h1 {
  font-size: xx-large;
}
h2 {
  font-size: x-large;
}

img {
  padding: 0 5px;
  max-width: 100%;
}

figure {
  width: 290px;
  height: 290px;
  margin: 20px;
  padding: 10px 0; 
}